* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #040504;
}
.logo {
  width: 50%;
  height: 100px;
}
.nav_bar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-bold-icon {
  text-shadow:
    1px 0 currentColor,
    -1px 0 currentColor,
    0 1px currentColor,
    0 -1px currentColor,
    1px 1px currentColor,
    -1px -1px currentColor,
    1px -1px currentColor,
    -1px 1px currentColor;
}
.hero {
  width: 100%;
  height: 60vh;
  background-image: url(./img/hero3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer {
  width: 100%;
  height: 60vh;
  background-image: radial-gradient(transparent, #040504 65%);
}
.hero_text {
  height: 29%;
  width: 100%;
  line-height: 2.5rem;
  font-family: "Fahkwang", sans-serif;
  font-size: 1.8rem;
}
/**************************************section2**************************************/
.margin {
  margin-bottom: 80px;
}
.portfolio-card {
  position: relative;
  height: 55vh;
}

.portfolio-card img {
  width: 90%;
  height: 100%;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 50%, #111112);
}

.portfolio-overlay a {
  font-weight: 500;
  color: #b7b6b7;
}

.portfolio-card:hover .portfolio-overlay {
  background: linear-gradient(transparent 30%, #111112);
}
/**************************************section3**************************************/
.img_section3 {
  object-position: center;
  object-fit: cover;
  height: 60vh;
  width: 100vw;
}
.section3_layover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 40%, #111112);
  top: 0;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-circle {
  color: black;
}
.icons {
  padding-left: 10%;
  padding-bottom: 15%;
  gap: 20px;
}
.font-sec3,
.font-style {
  font-family: "Manrope", sans-serif;
  margin-bottom: 40px;
}
.font-style {
  color: #b7b6b7;
  margin-bottom: 40px;
}
.circle:hover {
  background-color: black;
}
.circle:hover .text-circle {
  color: white;
}
.read-bio {
  font-family: "Fahkwang", sans-serif;
  color: #efe6d5;
}
/**************************************section4**************************************/
.portfolio {
  width: 100%;
  height: 200px;
}
.sec4-img {
  object-fit: cover;
  object-position: center;
  margin-bottom: 26px;
}
.sec4-img:hover {
  opacity: 0.5;
}
.sec-header {
  font-family: "Fahkwang", sans-serif;
}
.margin-20 {
  margin-bottom: 20px;
}
/**************************************section5**************************************/
.manrope {
  font-family: "Manrope", sans-serif;
}
.font-style-s5 {
  color: #b7b6b7;
}
/**************************************section6**************************************/
.padding-25 {
  padding: 0px 25px;
}
.img-sec6 {
  width: 110px;
}
/**************************************section7**************************************/
.img-s7 {
  width: 100%;
  height: 35vh;
  background-image: url(./img/cta.png);
  background-position: center 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer-s7 {
  width: 100%;
  height: 35vh;
  background-image: linear-gradient(to right, #040504 50%, rgba(4, 5, 4, 0.5));
}
.d_xs_none {
  display: none;
}
.justify-content-sm-center {
  justify-content: center;
}
/**************************************tablet**************************************/
@media screen and (min-width: 700px) {
  .hero_text {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }
  .img-s7,
  .layer-s7 {
    height: 55vh;
  }
  .text_box_size {
    padding-left: 20%;
    font-size: 24px;
  }
  .ps-md-50 {
    padding-left: 20%;
  }
  .justify-content-md-start {
    justify-content: safe;
  }
  .section3_layover {
    height: 145vh;
    background-image: linear-gradient(
      to top,
      #040504 600px,
      #111112 100px,
      transparent
    );
  }
  .sec3-md {
    height: 145vh;
  }
  .pad_s3 {
    padding: 0px 130px 0px 0px;
  }
  .align-items-md-center {
    align-items: center;
  }
  .icons {
    padding-bottom: 210px;
  }
}
/**************************************labtop**************************************/
@media screen and (min-width: 950px) {
  .portfolio-overlay a {
    padding-bottom: 95%;
  }
  .pd-lg-50 {
    padding-bottom: 130px;
  }
  .portfolio-card img {
    width: 80%;
    height: 80%;
  }
  .portfolio-card-2-4 {
    padding-top: 76px;
  }
  .portfolio-overlay {
    height: 75vh;
    width: 80%;
  }
  .portfolio-overlay-2-4 {
    height: 65vh;
  }
  .portfolio-overlay-2-4 a {
    padding-bottom: 60%;
  }
  .icons {
    padding-bottom: 300px;
    padding-left: 200px;
  }
  .ps-md-50 {
    padding-left: 8%;
  }
  .padding-25 {
    padding: 0px 50px 0px 100px;
  }
  .pad_s3 {
    padding: 0% 25% 6% 4%;
  }
  .section3_layover {
    height: 150vh;
    background-image: linear-gradient(
      to top,
      #040504 600px,
      #111112 100px,
      transparent
    );
  }
  .sec3-md {
    height: 125vh;
  }
  .hero {
    height: 90vh;
  }
  .layer {
    height: 90vh;
  }
  .hero_text {
    height: 25%;
    width: 50%;
    line-height: 2.5rem;
    padding-bottom: 0px;
  }
  .logo {
    height: 80px;
    width: 100%;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: #efe6d5;
  }
  .p-lg-10 {
    padding: 0px 100px;
  }
  .pe-lg-10 {
    padding: 0px 120px 0px 100px;
  }
}
/**************************************labtopL**************************************/
@media screen and (min-width: 1025px) {
  .section3_layover {
    height: 125vh;
    background-image: linear-gradient(
      to top,
      #040504 500px,
      #111112 100px,
      transparent
    );
  }
  .icons {
    padding-bottom: 70px;
  }
  .portfolio-overlay a {
    padding-bottom: 80%;
  }
  .portfolio-overlay-2-4 a {
    padding-bottom: 50%;
  }
}
